# Ignore Spotify streaming history CSV
Spotify Extended Streaming History/full-history.csv
Spotify Extended Streaming History/cleaned-history.csv

# Python environment
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

.cache
__pycache__/